:root {
	
	--texto: #55585A;
	--primario: #9D2148;
	--secundario: #B28E5C;
	--terciario: #dabc94;
	--texto: #55585A;
	--background: #eee;

	--primario1: #07194d;
	--secundario1: #B28E5C;
	
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url('../img/Wallpaper.png');
	background-size: cover; 
    background-position: right;
    background-repeat: no-repeat;
	background-attachment: fixed; 

	font-family: 'Quicksand', sans-serif;

	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Transición suave */
body {
    transition: background-color 0.3s, color 0.3s;
}

/* Modo oscuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

body.dark-mode .contenedor {
    background-color: #1e1e1e;
}

body.dark-mode input,
body.dark-mode select {
    background-color: #2c2c2c;
    color: #ffffff;
    border: 1px solid #555;
}

body.dark-mode button {
    background-color: #333;
    color: white;
}

body.dark-mode .header-1,
body.dark-mode .header-2 {
    color: #ffffff;
}



.contenedor {
	width: 90%;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	background: #fff;
	min-height: 60vh;
	margin-top: 25px;
	margin-bottom: 35px;
	grid-template-columns: 1fr 1fr;
	text-align: center;
	display: flex;
}

.contenedor-2 {
	width: 90%;
	max-width: auto;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
	background: #fff;
	min-height: 60vh;
	margin-top: 25px;
	margin-bottom: 35px;
	display: grid;
	-webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.datalist{
	background-color: var(--primario);
}


.columna {
	padding: 30px;
	width: 100%;
	text-align: center;
}

.columna-izquierda {
	padding: 5px;
	width: 50%;
}


.columna-derecha {
	overflow: hidden;
	background-image: url("../img/IndexTETRA.png");
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	width: 50%;
}


/* Pantallas medianas */
@media (max-width: 992px) {
    .columna-izquierda {
        width: 60%;
    }
    .columna-derecha {
        width: 40%;
    }
}

/* Pantallas pequeñas */
@media (max-width: 900px) {
    .columna-izquierda {
        width: 100%;
    }

    .columna-derecha {
        width: 0%;
    }

}

/* Móviles */
@media (max-width: 576px) {
    .columna-izquierda {
        width: 100%;
    }

    .columna-derecha {
        width: 0%;
    }

}

.columna-derechaNorte {
	background-image: url("../img/Norte.png");
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
}

.columna-derechaCentro {
	background-image: url("../img/Centro.png");
	background-size: cover;
	background-position-x: left;
}

.columna-derechaOriente {
	background-image: url("../img/Oriente.png");
	background-size: cover;
	background-position-x: center;
}

.columna-derechaSur {
	background-image: url("../img/Sur.png");
	background-size: cover;
	background-position-x: center;
}

.columna-derechaTodas {
	background-image: url("../img/Todas.png");
	background-size: cover;
	background-position-x: center;
}


.header {
	margin-bottom: 30px;
	text-align: center;
}

.header-1 {
	margin-bottom: 40px;
	text-align: center;
	color: #fff;
	background-color: var(--primario);
	font-size: 13px;
	border-radius: 25px;
	position: relative;
	align-items: center;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

@media (max-width: 992px) {
    .header-1 {
		font-size: 10px;
	}
}

.header-2 {
	margin-bottom: 40px;
	text-align: center;
	color: #fff;
	background-color: var(--texto);
	font-size: 1em;
	border-radius: 25px;
	position: relative;
	align-items: center;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	width: 80%;
}

.header h1 {
	color: var(--secundario);
	font-size: 28px;
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

.header p {
	color: var(--secundario);
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

label {
	margin-bottom: 10px;
	display: block;
	font-weight: 500;
	color: var(--secundario);
	font-size: 14px;
}

span {
	margin-bottom: 10px;
	display: block;
	font-weight: 500;
	color: var(--secundario);
	font-size: 14px;
}

small {
	text-align: center;
	margin-bottom: 10px;
	display: block;
	color: var(--texto);
	font-size: 11px;
}

/* Pantallas pequeñas */
@media (max-width: 1000px) {
    small {
        font-size: 9px;
    }

}

/* Móviles */
@media (max-width: 576px) {
    small {
        font-size: 7px;
    }

}

select {
	position: relative;
	width: 40%;
}

.contenedor-input {
	position: relative;
	width: 35px;
}

.registro {
	display: none;
	width: 100%;
}

.registro.activo {
	display: block;
	width: 100%;
}

.exito {
	display: none;
	height: 100%;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
}

.exito.activo {
	display: flex;
}

.exito svg {
	width: 50px;
	height: 50px;
	color: var(--primario);
}


input {
	height: 45px;
	font-size: 14px;
	width: 100%;
	border: none;
	border-radius: 5px;
	margin-bottom: 5px;
	background: var(--background);
	color: var(--primario);
	font-family: 'Quicksand', sans-serif;
	border: 2px solid transparent;
	transition: .3s ease all;
	text-align: center;
	margin-left: 10px;
}


.etiqueta{
	margin-bottom: 10px;
	font-weight: 500;
	color: var(--secundario);
	font-size: 14px;
	
}

select {
	height: 45px;
	font-size: 14px;
	width: 300px;
	border: none;
	border-radius: 5px;
	margin-bottom: 5px;
	background: var(--background);
	color: var(--primario);
	font-family: 'Quicksand', sans-serif;
	border: 2px solid transparent;
	transition: .3s ease all;
	text-align: left;
	margin-left: 10px;
	padding-left: 15px;
	margin-bottom: 12px;
}

input:focus {
	outline: none;
	border: 2px solid var(--primario);
	
}

.contenedor-input svg {
	position: absolute;
	color: var(--primario);
	padding: 1px;
	top: 1px;
	left: 1px;
	text-align: end;
} 



.contenedor-formulario {
	text-align: center;
	position: relative;
	white-space: nowrap;
	align-items: center;
	justify-content: center;
	display:flex;
	-webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */
}

.contenedor-encabezado {
	background-image: url('../img/Encabezado.png');
	background-size: cover; 
    background-position: right;
    background-repeat: no-repeat;
	background-attachment: fixed; 

	text-align: center;
	position: relative;
	white-space: nowrap;
	align-items: center;
	justify-content: center;
	display:flex;
	-webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */
}

.contenedor-formulario2 {
	text-align: center;
	align-items: center;
	justify-content: center;
	-webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */
}

.contenedor-formulario3 {
	text-align: center;
	align-items: center;
	width: 50%;
	display:inline-table;
	justify-content: start;
	padding: 5px;
	-webkit-user-select: none; /* Safari */
  	-ms-user-select: none; /* IE 10 and IE 11 */
  	user-select: none; /* Standard syntax */
}

.contenedor-inbox {
	text-align: center;
	display: flex;
	align-items: center;
	margin-bottom: 12px;
}

.contenedor-boton {
	display: flex;
	justify-content: center;
}

button {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	border-radius: 5px;
	margin-top: 20px;
	background: none;
	height: 50px;
	color: var(--primario);
	padding: 0 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid var(--primario);
	cursor: pointer;
	transition: .3s ease all;
	outline: none;
}

button:hover {
	background: var(--primario);
	color: #fff;
}

i:hover{
	color: #fff;
}

button svg {
	margin-left: 10px;
	width: 20px;
	height: 20px;
}


.imagen-responsive {
	max-width: 100%;
	height: auto;
	display: block; 
}








